RPC_URL=
JITO_MAINNET_URL=amsterdam.mainnet.block-engine.jito.wtf

JITO_TIP=0.00001
MINTER_PERCENT=0.00001
MIN_PERCENT=0.00001
MAX_PERCENT=0.00001
WALLET_COUNT=5

TOKEN_PK=
# private key of deposit wallet for despersing sniper wallets
PARENT_ZOMBIE_KEY=
# private key of wallet for minting token
MINTER_KEY=
AUTH_UUID=

TOKEN_NAME="MemeFrog"
TOKEN_SYMBOL="MFG"
TOKEN_IMAGE_URL="meme.png"
TOKEN_DESCRIPTION="Gold Moon"
TOKEN_CREATEON="https://pump.fun"
TOKEN_TWITTER="https://x.com/a"
TOKEN_TELEGRAM="https://t.me/a"
TOEKN_WEBSITE="https://a"
